<div class="container-lg">
      <div class="row">
           <div class="col">
            <p class="{{class}}"><b>Note : </b>{{message}}</p>
           </div>
           <div class="col"></div>
      </div>
</div>
<div *ngIf="holdingsDate.length != 0" class="">
      <div class="card rounded">
            <div class="card-header {{subclass}}">
                  <h2>{{submessage}}</h2>
            </div>
            <div class="card-body overflow-auto rounded bg-success" style="height: 390px;">
                  <table>
                        <tbody>
                              <div *ngFor="let i of holdingsDate" class="bg-light ">
                                    <form #updatestockduration="ngForm" (ngSubmit)="updatestocks(updatestockduration)">
                                          <input type="hidden" readony name="id" [(ngModel)] = "i.id" readonly style="border:none" class="bg-light p-2">
                                          <input type="hidden" readony name="monthYearId" [(ngModel)] = "i.yearMonth.id" readonly style="border:none" class="bg-light p-2">
                                          <tr class="float-start bg-light m-1 rounded text-center">
                                                <td><input readonly name="stocks" [(ngModel)]="i.totalStocks" style="border:none;" class="bg-light p-2 text-center" type="number"></td>
                                                <td> <input type="text" class="form-control text-center" [(ngModel)]="i.stockName" readonly name="stockName" style="border:none" class="bg-light p-2 text-center"></td>
                                                <td>
                                                      <input type="number" class="form-control bg-light p-2 text-center" [(ngModel)]="i.currentPrise"  style="border:none" name="currentPrice"
                                                            ngModel #currentPrice ="ngModel" required
                                                      >
                                                      <div class="text-danger" *ngIf="currentPrice.touched && currentPrice.invalid">
                                                            <span *ngIf="currentPrice.errors?.['required']">Please enter current price</span>
                                                      </div>
                                                </td>
                                                <td>
                                                      <div class="form-group">
                                                            <span class="fs-6">SHORT : </span><input type="radio" name="duration" [(ngModel)]="i.duration" value="SHORTTERM">
                                                      </div>
                                                </td>
                                                <td>
                                                      <div class="form-group">
                                                            <span>LONG : </span><input type="radio" name="duration" [(ngModel)]="i.duration" value="LONGTERM">
                                                      </div>
                                                </td>
                                                <td>
                                                      <input type="number" [(ngModel)]="i.squarOffValue" required name="squarOffValue" style="border:none" class="bg-light p-2 text-center">
                                                </td>
                                                <td>
                                                      <button type="submit" [disabled]="updatestockduration.invalid" class="btn btn-primary">Edit</button>
                                                </td>
                                          </tr>
                                    </form>
                              </div>
                        </tbody>
                  </table>
            </div>
      </div>
</div>
