<div class="container-lg mt-2">
      <p class="{{class}}">{{message}}</p>
</div>
<div class="mt-2">
      <div class="card">
            <div class="card-header bg-light">
                  <div class="row">
                        <div class="col">
                              <b><i class="fs-3">S</i>tatements</b>
                        </div>
                        <div class="col">
                              <p class="fs-3">Balance : <i class="fs-2">{{balance}}</i></p>
                        </div>
                        <div class="col"></div>
                  </div>
            </div>
            <div class="card-body">
                  <div class="overflow-auto position-relative" style="height: 390px;" >
                        <table class="table table-striped ">
                              <thead class="bg-success position-sticky fixed-top text-center text-light">
                                    <th class="p-2 card-text">Date</th>
                                    <th class="p-2 card-text">Balance</th>
                                    <th class="p-2 card-text">deposit</th>
                                    <th class="p-2 card-text">Payment from</th>
                                    <th class="p-2 card-text">withdraw</th>
                                    <th class="p-2 card-text">withdraw texes</th>
                                    <th class="p-2 card-text">Message</th>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let i of passbookData" class="fs-6 text-center">
                                          <td>{{(i.date).substring(0, 10)}} {{(i.date).substring(12, i.date.length-13)}}</td>
                                          <td>{{i.balance}}</td>
                                          <td>{{i.deposit}}</td>
                                          <td>{{i.paymentType}}</td>
                                          <td>{{i.withDraw}}</td>
                                          <td>{{i.withDrawTaxes}}</td>
                                          <td>{{i.message}}</td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
            </div>
      </div>
</div>
